<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83626925975-1565qo9k58qj1067bfchbltrhdch2gnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83626925975-1565qo9k58qj1067bfchbltrhdch2gnn</string>
	<key>API_KEY</key>
	<string>AIzaSyCESmtdwcUbs-J2PGMx-MHK10xrJBuV1R4</string>
	<key>GCM_SENDER_ID</key>
	<string>83626925975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pe.edu.cibertec.ToDo</string>
	<key>PROJECT_ID</key>
	<string>to-do-3531b</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-3531b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83626925975:ios:e2f2510b6ae87da572aed2</string>
	<key>DATABASE_URL</key>
	<string>https://to-do-3531b.firebaseio.com</string>
</dict>
</plist>